
.icon-coffee-beans:before { content: '\e800'; } /* '' */
.icon-play-button:before { content: '\e801'; } /* '' */
.icon-beans:before { content: '\e802'; } /* '' */
.icon-roasting-1:before { content: '\e803'; } /* '' */
.icon-grades:before { content: '\e804'; } /* '' */
.icon-quote_soft:before { content: '\e805'; } /* '' */
.icon-arrow_left:before { content: '\e806'; } /* '' */
.icon-aroma:before { content: '\e807'; } /* '' */
.icon-arrow_right:before { content: '\e808'; } /* '' */
.icon-certificate:before { content: '\e809'; } /* '' */
.icon-grinder:before { content: '\e80a'; } /* '' */
.icon-filter:before { content: '\e80b'; } /* '' */
.icon-play-button-solid:before { content: '\e80c'; } /* '' */
.icon-layers:before { content: '\e80d'; } /* '' */
.icon-responsive:before { content: '\e80e'; } /* '' */
.icon-settings:before { content: '\e80f'; } /* '' */
.icon-shopping-bag:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-favorites:before { content: '\e812'; } /* '' */
.icon-exchange:before { content: '\e813'; } /* '' */
.icon-font:before { content: '\e814'; } /* '' */
.icon-gear:before { content: '\e815'; } /* '' */
.icon-homepages:before { content: '\e816'; } /* '' */
.icon-parallax:before { content: '\e817'; } /* '' */
.icon-seo:before { content: '\e818'; } /* '' */
.icon-text:before { content: '\e819'; } /* '' */
.icon-coding:before { content: '\e81a'; } /* '' */
.icon-document:before { content: '\e81b'; } /* '' */